<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourseasons.hotel.mapper.TCompanyMapper">

    <resultMap id="TCompany_ResultMap" type="com.fourseasons.hotel.domain.entity.TCompany">
        <id property="companyid"  column="company_id" />
        <result property="companyName" column="company_Name"/>
        <result property="companyLogo" column="company_Logo"/>
        <result property="companyDescribe" column="company_Describe"/>
        <result property="companyAddress" column="company_Address"/>
        <result property="companyHotline" column="company_Hotline"/>
    </resultMap>
    <select id="findTCompany" resultMap="TCompany_ResultMap">
        SELECT TC.company_id,TC.company_name,TC.company_address,TC.company_describe,TC.company_hotline,TC.company_logo
        FROM t_company TC
    </select>
<!--    <select id="findTCompany" resultType="com.fourseasons.hotel.domain.entity.TCompany">-->
<!--        SELECT TC.company_id,TC.company_name,TC.company_address,TC.company_describe,TC.company_hotline,TC.company_logo-->
<!--        FROM t_company TC-->
<!--    </select>-->
</mapper>